@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% {
      transform: translateX(350%);
    }
    100% {
      transform: translateX(-350%);
    }
  }
  
   .slide-in-text {
    animation: slide 20s linear infinite;
  } 
  .cont {
    background-image:url("file:///D:/Anees%20carmax/car_max_React/client/src/components/Assets/corolla.webp");
    background-size:cover;
    /* Additional styles */
  }
